.editorconfig
.vscode/
*.txt
/view/javascript/d_pax/node_modules
/view/javascript/d_pax/.npmrc
/view/javascript/d_pax/.env
/view/javascript/d_pax/.idea
view/javascript/d_pax/node_modules
view/javascript/.idea/
