.module-content{
    padding:60px 0px;
}
.module-content__form {
    max-width: 45%;
    margin: 0 auto;
}
.module-content__row{
    padding-top:30px;
    padding-bottom:30px;
}
.mb-1 {
    margin-bottom: 15px;
}
.mb-2 {
    margin-bottom: 25px;
}
@media(max-width: 767px) {
    .module-content__form {
        max-width: 100%;
    }
}
.module-content__description{
    font-size:12px;
    color:#777;
    text-align:center;
    line-height:20px;
    padding-top:20px;
}
.module-content__image img{
    width:200px;
}